/*       全局变量定义区   */

$fontSize:12px;
$font_color:#737373;
$font_hover_color_1:white;
$font_hover_color_2:red;
$font_family: "HelveticaNeue",
"Helvetica Neue",
Helvetica,
Arial,
Helvetica,
sans-serif;
$font_weight: bold;
$header_footer_backgroundColor :#050505;
//header 
$header_top_color: $header_footer_backgroundColor;
$header_top_subMenu_backgroundColor:rgba(18, 18, 18, 0.95);
//footer
$footer_background_color:$header_footer_backgroundColor;

/*       变量定义结束   */